
#leftcolumnwrap
  #leftcolumn
    = render "accordion"
.intro
  %h2.content About regular meetings
  %p Mer aims to be a FOSS, inclusive, meritocratically governed and openly developed Core optimised for HTML5/QML/JS, providing a mobile-optimised base distribution for use by device manufacturers. Mer is based upon the work from the Core section of the MeeGo project and aims to share effort and code together with the Tizen project once Tizen tools and code are publicly available.
  %p.fancy Meetings are held in #mer-meeting on irc.freenode.net, using the MeetBot
  %p
    %b Monday
    %ul
      %li 08:00 UTC - Nemo Bug Triage
      %li 12:00 UTC - Mer Bug Triage
  %p
    %b Tuesday
    %ul
      %li 11:00 UTC - (bi-weekly odd weeks, eg. wk5 onwards) Nemo Steering Group meeting
      %li 12:00 UTC - Mer Release Management meeting
  %p
    %b Thursday
    %ul
      %li 12:OO UTC - Mer QA meeting
.intro
  %h2.content Recent meetings
  %p Below you'll find 10 most recent meetings - latest first. 
  %p If you want to see older meetings, see left column where you can find all meetings sorted by months.   
  %table.bordered
    %thead
      %tr
        %th Title
        %th Date
        %th Started
        %th Ended
        %th Minutes
        %th Logs
        %th Edit
        %th Delete

    - @meetings.each do |meeting|
      %tr 
        %td.title 
          = link_to meeting.title, meeting
        %td.datetime
          = meeting.meetingdate.strftime("%Y/%m/%d") 
        %td.startTime 
          = meeting.startTime
        %td.endTime
          = meeting.endTime
        %td.url
          = link_to 'Minutes', meeting.murl, {:rel => 'shadowbox;width=1000;height=600;', :title => [meeting.channel," - " , meeting.title]} 
        %td.logsurl
          = link_to 'Discussion', meeting.logsurl, {:rel => 'shadowbox;width=1000;height=600;', :title => [meeting.channel," - " , meeting.logsurl]}
        %td= link_to 'Edit', edit_meeting_path(meeting)
        %td= link_to 'Destroy', meeting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Meeting', new_meeting_path
