.container
  %h2.acc_trigger
    %a{:href=>"#"} Bugs info
  .acc_container
    .block
      %p 
        %strong 
          Fixing bugs is easy way to contribute, just pick one of 
          = @bugs.count
          bugs
          and get involved. 
      %div{:id =>'chart_div'}
      %div{:id =>'chart_div_stacked'}
    :javascript
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        #{render(:partial => "chart_pie_item", :locals => {:tasks => @tasks, :types => @taskstypes})}  
        ]);

        var options = {
          title: "Tasks by gategories", is3D: false, colors:['#3161b6','#0a74ac', '#6f6f6f', '#67b7fc', '#1c4867', '#2f7055'], legend: {position: 'left', textStyle: {color: '#000', fontSize: 10}}, chartArea:{left:20,top:10,width:"60%",height:"70%"} 
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    :javascript
      $(document).ready(function() {
        $('#chart_div').delay(1200).slideToggle("fast");
      });


    :javascript
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Product', 		'Critical', 	'Major', 	'Normal', 	'Trivial', 	'Enhancement'],
          ['QA',  		1000,      	400, 		0,		0, 		100],
          ['Policies',  	1170,      	460,		0,		0,		400],
          ['Integration tools',	200,	  	660,       	1120,		0,		300],
          ['Core',  		1030,      	540,		0,		0,		300],
          ['Crosshelpers',  	1030,      	540,		0,		0,		300]
        ]);

        var options = {
          title: 'Bugs by severity',
          vAxis: {title: 'Category',  titleTextStyle: {color: 'red'}},
          isStacked: true, 
          legend: {position: 'none'}
          
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div_stacked'));
        
        chart.draw(data, options);
      }
    </script>
    .block  
      %p Easy tasks are listed under 'Low hanging fruits' (takes a few minutes)
      %br   
  %h2.acc_trigger
    %a{:href=>"#"} 
      Low hanging fruits
      %span.count
        (
        = @bugsBananas.count
        )
  .acc_container
    .block
      %ul.column
        - if @bugsBananas.count == 0
          %li Yay! None found
        - else
          - @bugsBananas.each do |item|
            %li
              %div.date
                = item.updated_at
                %div.title
                  = link_to item.btitle, item
  - @bugstypes.each do |item|
    = render :partial => 'column_item', :locals => {:bugs => @bugs, :name => item}



