.container
  %h2.acc_trigger
    %a{:href=>"#"} Bugs info
  .acc_container
    .block
      %p 
        %strong 
          Fixing bugs is easy way to contribute, just pick one of 
          = @bugs.count
          bugs
          and get involved.
        %br 
        
      %div{:id =>'chart_div'}

    :javascript
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        #{render(:partial => "chart_pie_item", :locals => {:tasks => @tasks, :types => @taskstypes})}  
        ]);

        var options = {
          title: "Not taken bugs by gategories", is3D: false, colors:['#3161b6','#0a74ac', '#6f6f6f', '#67b7fc', '#1c4867', '#2f7055'], legend: {position: 'left', textStyle: {color: '#000', fontSize: 10}}, chartArea:{left:20,top:50,width:"100%",height:"100%"} 
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    :javascript
      $(document).ready(function() {
        $('#chart_div').delay(1200).show();
      });


    
    </script>
    .block  
      %p Easy tasks are listed under 'Low hanging fruits' (takes a few minutes)
      %br   
  %h2.acc_trigger
    %a{:href=>"#"} 
      Low hanging fruits
      %span.count
        (
        = @bugsBananas.count
        )
  .acc_container
    .block
      %ul.column
        - if @bugsBananas.count == 0
          %li Yay! None found
        - else
          - @bugsBananas.each do |item|
            %li
              %div.date
                = item.updated_at
                %div.title
                  = link_to item.btitle, item
  - @bugstypes.each do |item|
    = render :partial => 'column_item', :locals => {:bugs => @bugs, :name => item}



