- content_for(:head) do
  %title
    :escaped 
      #MeetMer: #Mer not taken bugs  
    (
    = @bugs[0].created_at
    )
#leftcolumnwrap
  #leftcolumn
    = render 'accordion'
.intro
  %h2.content 
    Contribute by solving bugs
    = render 'layouts/shared/sharebuttons'
  %p A software bug is the common term used to describe an error, flaw, mistake, failure, or fault in a computer program or system that produces an incorrect or unexpected result, or causes it to behave in unintended ways. Most bugs arise from mistakes and errors made by people in either a program's source code or its design, and a few are caused by compilers producing incorrect code. Mer is no exception - it has bugs (in software, processes, integration tools, etc)
  %h3 Let me help! How to select a bug to solve?
  %p 
    Some bugs are more 'serious' than others. Picking random bug to solve might not be the most fruitful method. We suggest a moderate path:
    %ol
      %li Instead you should first evaluate your skills. To ease selection of bugs for beginners, we have listed 'low hanging fruits' separately. Those bugs are considered to be easy(-ish) to solve and normally takes minutes of your time. 
      %li Once you get more familiar with Mer, you might feel more comfortable with harder bugs. 
  %p If in doubt, talk to people in IRC (channel: #mer in freenode). 
  

.intro
  %h2.content 
    Not taken bugs - pick one
  %p
    On the left column, you'll find tasks divided into categories: 
    %ul
      %li Low hanging fruits (takes only a few minutes to solve)
      - @bugstypes.each do |category|       
        %li 
          = category
   
  %p 
    Below you'll find all not taken bugs 
    %span
      (list updated:  
      = @bugs[0].created_at
      ) 
  %p List is sorted by date when updated; bug updated last is first in the list.  
  %table{:class => 'bordered', :id=>'sortme'}
    %thead
      %tr
        %th Title
        %th Updated
        %th Priority
        %th Severity
    %tbody
      - @bugs.each do |bug|
        %tr 
          %td.btitle 
            %a{:href=> bug.blink} 
              = bug.btitle
          %td.bupdated
            = bug.updated_at 
          %td.bpriority
            = bug.bpriority
          %td.bseverity
            = bug.bseverity



